<h1>About Bloccit</h1>
<p>Created by: Me (aka Carolyn)</p>

<%= link_to "Follow me", "https://www.facebook.com/trybloc", class: "social-btn" %>
<br>
<br>

<!--
<a href="https://twitter.com/crupar" class="twitter-follow-button" data-show-count="false">Follow @crupar</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
-->
